h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: rgb(250, 250, 250);
  font-size: 48px;

  margin-top: 0px;

  text-align: center;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 39px;
  color: rgb(250, 250, 250);

  text-align: center;
}

h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 300 !important;
  font-size: 20px !important;
}

body {
  text-align: center;
  align-self: center;

  background-color: #f7f7f7 !important;

  font-family: "Quicksand", sans-serif !important;
  font-weight: 500 !important;
}

/* https://coolors.co/palette/d6d2d2-f1e4f3-f4bbd3-f686bd-fe5d9f */

.container {
  display: flex;

  margin-bottom: 38px;
}

.leftDiv {
  width: 35%;
  background-color: #2faf60;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;

  padding: 20px 40px 40px 40px;
}

.rightDiv {
  flex: 1;
  margin-left: 300px; /* Adjust this to match the width of the left part */

  align-self: right;

  color: #126632;

  background-color: #f7f7f7;

  text-align: right;
  text-overflow: clip;

  padding-left: 15px;
  padding-right: 25px;

  padding-top: 20px;
  padding-bottom: 30px;

  margin-top: 20px;
}

.leftDiv p {
  text-align: left;
  text-overflow: clip;

  margin: 5px;

  color: white;
}

.leftDiv h1 {
  margin-bottom: -5px;
}

.leftDiv h3 {
  text-align: left;
  text-overflow: clip;

  margin: 10px;

  color: white;
}

.justifyContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightDiv p {
  margin-bottom: -12px;
  margin: 10px;
  margin-left: 200px;
}

.rightDiv h1 {
  color: #16793c;
  font-size: 28px;

  text-align: right;

  margin-top: 40px;
  margin-bottom: -10px;
}

.hr {
  border-color: #2faf60;
  margin-left: 200px;
}

.rightDiv h2 {
  color: #16793c;
  font-size: 20px;

  text-align: right;

  margin-top: 10px;

  margin-right: 20px;
}

a {
  margin-bottom: 50px;

  width: 80px;
  height: 30px;

  background-color: #40798c;
  color: white;

  font-family: "Overpass", sans-serif;
  border: none;
}

.contactForm {
  font-family: "Overpass", sans-serif;
  font-weight: 300;

  color: #0b2027;
}

#profileImage {
  border: 5px solid #fcfcfc;

  width: 180px;

  overflow: hidden;
  object-fit: cover;

  margin-top: 28px;

  border-radius: 100%;
}

.socialMediaButton {
  border: none;
  margin: auto;
  background-color: #40798c00;
}

.mask1 {
  -webkit-mask-image: url(w3logo.png);
  mask-image: url(w3logo.png);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

footer {
  flex: 1;
  padding: 50px;

  align-items: center;
  justify-content: center;

  background-color: #2faf60;
}
